* {
    /* border: 1px black solid; */
    padding: 3px;
}

.container {
    display: flex;
    height: 98vh;
    width: 98vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-city {

    text-align: center;
    padding: 0;

}

.search-container {
    display: flex;
    position: fixed;
    top: 5%;
    right: 2%;
}
